@font-face {
  font-family: 'ChubbyChoo';
  src: url('../public/assets/fonts/chubby-choo-regular.ttf') format('truetype');
}
*:{
    margin: 0;
    padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  font-family: 'ChubbyChoo', sans-serif;
min-height:100vh;
}
:root{
  --primary-color:#ffca28; 
  --primary-text-color: #cab3b5;
  --secondary-text-color: #fff;
  --default-margin: 10px;
  --default-padding: 10px;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
   padding: var(--default-padding);
  overflow: hidden;
}