/*====================*/
/*   Start Global Styles  */
/*====================*/
@font-face {
  font-family: 'ChubbyChoo';
  src: url('/assets/fonts/chubby-choo-regular.ttf') format('truetype');
}
:root {
  --primary-color: #ffca28;
  --primary-text-color: #cab3b5;
  --secondary-text-color: #fff;
  --default-margin: 10px;
  --default-padding: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'ChubbyChoo', sans-serif;
  min-height: 100vh;
  width: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

#game {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*====================*/
/*   End Global Styles  */
/*====================*/

/*====================*/
/*   Start General Game Styles  */
/*====================*/

#game-container {
  position: relative;
  height: 100vh;
  width: auto;
  max-width: 100%;
  background-size: cover;
  position: relative;
}

#background-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#background-container img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.game-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(160, 152, 173, 0.5);
}

#content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/*====================*/
/*   End Game General Styles  */
/*====================*/

/*====================*/
/*   Start Shop widget   */
/*====================*/
#shop-container {
  max-width: 731px;
  background-image: url("../public/assets/images/shop/SHOP_BG_WITHTITLE.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 300px;
  border-radius: 20px;
  padding-bottom: 30px;
  overflow: hidden;
  z-index: 2;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  #shop-container {
    width: 100%;
  }
}

header {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 70px;
  margin-left: auto;
  margin-right: 25px;
}

@media screen and (max-width: 767px) {
  header {
    margin-right: 25px;
  }
}

#close-btn {
  width: 40px;
  height: 40px;
  background: url('../public/assets/images/Close.png') no-repeat center/contain;
  border: none;
  cursor: pointer;
}

#gas-info {
  margin: 5rem auto 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gas-info img {
  max-width: 100%;
  width: 200px;
}

#items-container {
  padding: var(--default-padding);
  padding-right: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: transparent;
  max-width: 100%;
  width: 95%;
  margin: 0 auto;
}

#items-container::-webkit-scrollbar {
  width: 10px;
}

#items-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

#items-container::-webkit-scrollbar-track {
  background-color: #333;
}

#items-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

#items-container::-webkit-scrollbar-thumb:active {
  background-color: var(--primary-color);
}

.shop-item {
  width: 543px;
  min-height: 192px;
  border-radius: 15px;
  position: relative;
  margin: 0 auto;
  transition: transform 0.3s,background-image 0.3s;
  background-image: url('../public/assets/images/shop/Itemsbox1_shop.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .shop-item {
    width: 100%;
    min-height: 150px;
  }
}

@media screen and (max-width: 374px) {
  .shop-item {
    width: 100%;
    min-height: 1px;
  }
}

.shop-item:hover {
  transform: scale(1.05);
  background-image: url('../public/assets/images/shop/Itemsbox2_shop.png');

}

.shop-item .item-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.shop-item .item-bg img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.shop-item .item-icon-container {
  position: absolute;
  top: 20%;
  left: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.shop-item .item-icon-container img {
  max-width: 100%;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 767px) {
  .shop-item .item-icon-container {
    top: 25%;
    left: 15%;
  }

  .shop-item .item-icon-container img {
    width: 30px;
    height: 30px;
  }
}

.shop-item .item-level {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-60%, -20%);
  font-size: 1.5rem;
  font-weight: bold;
  z-index: 2;
  transition: all 0.3s;
  color: var(--primary-text-color);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .shop-item .item-level {
    left: 45%;
    color: var(--secondary-text-color);
  }
}

.shop-item .buy-btn {
  position: absolute;
  top: 20%;
  cursor: pointer;
  right: 25px;
  width: 160px;
  height: 80px;
  transform: translateY(-20%);
  background-image: url('../public/assets/images/shop/Buy_Button02.png');
  background-size: cover;
  background-position: center;
  z-index: 2;
  border: none;
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--secondary-text-color);
  font-size: 1.5rem;
  font-weight: bold;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.shop-item .buy-btn:hover {
  background-color: rgba(255, 202, 40, 0.8);
}

.shop-item .buy-btn:active {
  transform: scale(0.95);
  background-image: url('../public/assets/images/shop/Buy_Button02_Clicked.png');
}

@media screen and (max-width: 767px) {
  .shop-item .buy-btn {
    right: 15px;
    width: 120px;
    height: 50px;
    font-size: 1.25rem;
  }
}

/*====================*/
/*   End Shop Widget  */
/*====================*/
/*====================*/
/*   Start Modal Styles   */
/*====================*/
.modal {
  display: block; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: transparent;
}

.modal-content {
  background-color: transparent;
  margin: 0 auto; 
  padding: 20px;
  width: 80%; 
}
@media screen and (max-width: 767px) {
  .modal-content {
    width: 100%;
    padding: var(--default-padding);
  }
}



/*====================*/
/*   End Modal Styles   */
/*====================*/