/*====================*/
/*   Start Global Styles  */
/*====================*/
@font-face {
  font-family: 'ChubbyChoo';
  src: url('../public/assets/fonts/chubby-choo-regular.ttf') format('truetype');
}
:root{
  --primary-color:#ffca28; 
  --primary-text-color: #cab3b5;
  --secondary-text-color: #fff;
  --default-margin: 10px;
  --default-padding: 10px;
}
*:{
    margin: 0;
    padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
  font-family: 'ChubbyChoo', sans-serif;
  min-height:100vh;
width: 100%;
}

#app {
  width: 100%;
  height:100vh;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--default-padding);
  padding-right: var(--default-padding);
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}

#game{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*====================*/
/*   End Global Styles  */
/*====================*/

/*====================*/
/*   Start General Game Styles  */
/*====================*/

#game-container {
  position: relative;
  height: 100vh;
  width: auto;
  max-width:100%;
  background: url('/public/assets/images/shop/SHOP_BG.png') no-repeat center center;
  background-size: cover;
  position: relative;
}


#game-container:before{
  position:absolute;
  content:"";
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:rgba(160, 152, 173,0.5);
  z-index:1;
}
/*====================*/
/*   End Game General  Styles  */
/*====================*/

